body {
    padding-top: 5px;
}

.navbar {
    margin-bottom: 5px !important;
}

.navbar-inner {
    height: 60px !important;
}

.navbar-brand {
    padding-top: 5px;
}

.row {
    margin-left: 0px;    
    margin-right: 0px;    
}

div[class^="col-md-"] {
    padding-left: 1px;
    padding-right: 1px;
}

.clsMainTitle {
}
.clsSubTitle {
    width: 250px;
    font-weight: bolder;
}
.clsTitleRightArea {
    float:right ;    
}

.clsMenuLeft {
    
}

.clsMenuRight {
    
}

.clsHomde {
    padding-left: 10px !important;    
}

.contents-area {
    padding-left: 5px;
    padding-right: 5px;
}

.clsDateTime {
    position: absolute;
    top: 0px;
    right: 30px;
}
.clsLogout {
    position: absolute;
    bottom: 0px;
    right: 30px;
}

.clsLogout button {
    margin-bottom: 7px !important;    
}