<div ng-controller="LoginCtrl" ng-init="init()">
    <div class="login col-md-8">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <div class="row">
                <form class="form-signin  col-md-6" ng-submit="submit()">
                    <span id="reauth-email" class="reauth-email"></span>
                    <div class="form-group">
                        <label for="name">name</label>
                        <input type="username" id="inputUserName" ng-model="inputUserName" class="form-control" placeholder="User Name" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="pass">パスワード</label>
                        <input type="password" id="inputPassword" ng-model="inputPassword" class="form-control" placeholder="Password" required>
                        <a href="#" class="forgot-password">
                        パスワードを忘れました
                    </a>
                    </div>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <div class="col-md-7">
                        <button class="btn btn-primary btn-signin glyphicon glyphicon-log-in col-md-11" type="submit"> ログイン</button>
                    </div>
                </form>
            </div>
            <div class="row col-md-6">
                <div class="col-md-7"><br/>
                    <button class="btn btn-default btn-signin glyphicon glyphicon-user col-md-11" ng-click="showRegister()"> アカウント登録</button>
                </div>
            </div>
        </div>
    </div>
</div>